
<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    {% if name %}
    <body onload="sendRequest()">
    {% else %}
    <body>
    {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div id="container">
            {% if name %}
                <div class="title">
                    <h1>Hello {{name}}</h1>
                </div>
                <div id="content">
                    We are sending item: <strong>{{item}}</strong> <br />
                    To location: <strong> {{location}} </strong>
                </div>
                <div>
                    <h2>Please wait while we complete your request.</h2><br />
                    <h3 id="waittime"></h3>         
                </div>
                <div id="complete" style="visibility=hidden">
                    <form method="post" action="{{url_for('end_request', name=name)}}">
                        <input type="submit" value="Complete Job"/>
                    </form>
                </div>
            {% else %}
            <div class="title">
                <h1>Materials request form</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('itemRequest') }}">
                  <label for="name">Full Name:</label>
                  <input type="text" name="name" /><br />
                  <label for="item">Item Needed:</label>
                  <select name="item">
                      <option value="Medicine">Medicine</option>
                      <option value="Dressings">Dressings</option>
                  </select>
                  <br />
                  <label for="location">Dropoff location:</label>
                  <select name="location">
                      <option value="502">Room 502</option>
                      <option value="503">Room 503</option>
                  </select>
                  <input type="submit" />
                </form>
            </div>
            {% endif %}
        </div>
        
    <script>
        function sendRequest() {
            var http = new XMLHttpRequest();
            http.open("GET", "{{ url_for('show_status', name=name)}}", true);
            http.onreadystatechange = function() { handleResponse(http) };
            http.send(null);
        }
        
        function handleResponse(http) {
            var response;
            if (http.readyState == 4) {
                response = http.responseText;
                document.getElementById("waittime").innerHTML = response
                if (response != "Job Complete") {
                    document.getElementById("complete").style.visibility = "hidden";
                    setTimeout("sendRequest()", 1000);
                }
                else {
                    document.getElementById("complete").style.visibility = "visible";
                }
            }
        }
    </script>
    </body>
</html>