<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div id="container">
            {% if name %}
                <div class="title">
                    <h1>Hello {{name}}</h1>
                </div>
                <div id="content">
                    We are sending item: <strong>{{item}}</strong> <br />
                    To location: <strong> ({{location}}) </strong>
                </div>
                <div>
                    <h2>Please wait while we complete your request.</h2><br />
                    <div id="loading">
                        <div class="cssload-dots">
                            <div class="cssload-dot"></div>
                            <div class="cssload-dot"></div>
                            <div class="cssload-dot"></div>
                            <div class="cssload-dot"></div>
                            <div class="cssload-dot"></div>
                        </div>

                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo" ></feColorMatrix>
                                    <!--<feBlend in2="goo" in="SourceGraphic" result="mix" ></feBlend>-->
                                </filter>
                            </defs>
                        </svg>
                    </div>
                    <h3  id="waittime"></h3>
                    
                </div>
                <div id="complete">
                    <form method="post" action="{{url_for('end_request', name=name)}}">
                        <input type="submit" value="Complete Job"/>
                    </form>
                </div>
            {% endif %}
            <div class="title">
                <h1>Materials request form</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('itemRequest') }}">
                  <label for="name">Full Name:</label>
                  <input type="text" name="name" /><br />
                  <label for="item">Item Needed:</label>
                  <select name="item">
                      <option value="Condoms">condoms</option>
                      <option value="MoreCondoms">More Condoms</option>
                  </select>
                  <br />
                  <label for="location">Dropoff location:</label>
                  <select name="location">
                      <option value="mourge">Mourge</option>
                      <option value="orphanage">Orphanage</option>
                  </select>
                  <input type="submit" />
                </form>
            </div>
        </div>
        
    <script>
        function sendRequest() {
            var http = new XMLHttpRequest();
            http.open("GET", "{{ url_for('show_status', name=name)}}", true);
            http.onreadystatechange = function() { handleResponse(http) };
            http.send(null);
        }
        
        function handleResponse(http) {
            var response;
            if (http.readyState == 4) {
                response = http.responseText;
                document.getElementById("waittime").innerHTML = response
                if (response != "Job Complete") {
                    setTimeout("sendRequest()", 1000);
                }
                else {
                    document.getElementById("loading").style.visibility = "hidden"
                    document.getElementById("complete").style.visibility = "visible";
                }
            }
        }
    </script>
    </body>
</html>
