{% if request_ended %}
	<h1>Thanks for getting your item, {{ name }}</h1>
{% elif request_not_found %}
	<h1>Your request timed out, {{ name}}</h1><br />
	<h2>Please make a new one</h2>
{% elif request_canceled %}
	<h1>Welcome back, {{ name }}</h1>
	<h2>Your request has been canceled</h2>
{% else %}
	<h1>Welcome back, {{ name }}</h1>
{% endif %}

<form class="form" id="requestForm" method="POST" action="{{ url_for('itemRequest') }}">
    <label for="item">Item Needed:</label>
    <select name="item">
            <option value="Medicine">Medicine</option>
            <option value="Dressings">Dressings</option>
        </select>
    <label for="location">Dropoff location:</label>
    <select name="location">
            <option value="502">Room 502</option>
            <option value="503">Room 503</option>
        </select>
    <button type="submit">Submit Request</button>
</form>

