{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div id="complete" style="display:None">
    <h1 id="item_ready">Your item's all set to go!</h1>
    <form id="completeForm" method="post" action="{{url_for('end_request', name=name)}}">
        <input type="submit" name="endReuqest" value="Complete Pickup" />
    </form>
</div>
<div id="loading_content">
    <h1>Hold your horses, {{ name }}</h1>
    <h2>We're sending item: <strong>{{item}}</strong> <br /> To location: <strong> {{location}} </strong></h2>
    <div>
        <div class="centered"><div id="spin" class="spinner"></div></div>
        <h3 id="waittime"></h3>
    </div>
    <form id="loadingForm" method="post" action="{{url_for('cancel_request', name=name)}}">
            <input type="submit" name="cancel" value="Cancel" />
    </form>
</div>