{% extends "index.html" %}
{% block nav %}
	<nav id="top-bar">
        <span id="titleLogo">chockabot</span><a id="logoutText" href="#">Log Out</a>
    </nav>
{% endblock %}
{% block mainContent %}
    <h1>Welcome back, {{ name }}</h1>

    <form class="form" id="requestForm" method="POST" action="{{ url_for('itemRequest') }}">
        <label for="item">Item Needed:</label>
        <select name="item">
            {{ items }}
        </select>
        <label for="location">Dropoff location:</label>
        <select name="location">
            {{ locs }}
        </select>
        <button type="submit">Submit Request</button>
    </form>
{% endblock %}